<div ng-controller="configController">




<div><h1>Configuration</h1></div>
<div style="border:2px solid black;width: 600px;float: left;padding:35px;margin-left: 180px;">
<h1>C7K1</h1>
<div>[PORTS]</div>
<div>RF_PGW_PORT = 3999</div>
<div>RF_VSEP_PORT = 3998</div>
<div>RF_CCF_PORT = 3868</div>
<div>RO_VSEP_PORT = 3598</div>
<div>RO_VSCP_PORT = 5001</div>
<div>RADIUS_PDSN_PORT = 1813</div>
<div>RADIUS_AAA_PORT = 2813</div>
<div></div>
<div>[PCAP]</div>
<div>VLAN = N</div>
<div>PCAP_PATH                   =  /var/c7k1</div>
<div>FILTERED_PCAP_PATH	    =  /var/filter</div>

</div>

<div style="border:2px solid black;width: 600px;float: right; display: :inline;padding:35px;">
<h1>C7K2</h1>
<div>[PORTS]</div>
<div>RF_PGW_PORT = 3999</div>
<div>RF_VSEP_PORT = 3998</div>
<div>RF_CCF_PORT = 3868</div>
<div>RO_VSEP_PORT = 3598</div>
<div>RO_VSCP_PORT = 5001</div>
<div>RADIUS_PDSN_PORT = 1813</div>
<div>RADIUS_AAA_PORT = 2813</div>
<div></div>
<div>[PCAP]</div>
<div>VLAN = N</div>
<div>PCAP_PATH                   =  /var/c7k1</div>
<div>FILTERED_PCAP_PATH	    =  /var/filter</div>

</div>

<div >

<h2 style="clear: both; padding-top: 60px;">BUILD VERSION:1.1.0</h2>

</div>
</div>
</div>


















